/*******************************************************************************
GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL  
*******************************************************************************/

html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex; 
	flex-direction: column;
}

.content {
	flex: 1; /*on the child you want to grow to fill the space (the content, in our case).*/
}

section.main-section {
	margin: 80px auto 20px;
	max-width: 1080px;
	position: relative;
	padding: 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #778899;
}

.current {
	color: #778899;
}


p {
	line-height: 1.8em;
	margin-bottom: 20px; /*0*/
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}



/*******************************************************************************
HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV  
*******************************************************************************/

header {
	background: #000;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	z-index: 100;
	font-family: 'Krona One', 'Leckerli One', cursive;
}

#logo {
	margin: 10px 0 10px 40px;
	float: left;
	width: 250px;
	height: 60px;
	display: block;
}

nav {
	float: right;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background: #000 url(../img/menu-icon.png) center;
}


a:hover#menu-icon {
	background-color: #778899;
	border-radius: 4px 4px 0 0;
}

ul {	
	list-style: none;
	font-size: 0.95em;
	padding: 0; /* skriva över user agent stylesheet, har en padding-left på 40px*/
	margin-right: 20px;	
}

li {
	display: inline-block;
	padding: 32px 12px 0;
}

#logout {
	color: #F00;
}



/*******************************************************************************
HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM   
*******************************************************************************/

#main-title {
	text-align: center;
	font-size: 1.8em;
	margin: 0 0 5px;
}

#second-title {
	text-align: center;
	font-size: 1.4em;
	margin: 0 0 20px;
	font-weight: normal;
	padding-bottom: 4px;
	border-bottom: 1px solid #000;
}

#mountain {
	width: 100%;
	margin-bottom: 20px;
}

#text-home {
	font-size: 1em;
	line-height: 1.5em;
	height: 100px;
	width: 100%;
}


/*******************************************************************************
OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG   
*******************************************************************************/


.about-title {
	text-align: center;
	font-size: 1.8em;
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
}


#youtube-video {
	width: 100%; 
	height: 315px; 
}

#text-aboutme {
	font-size: 1em;
	line-height: 1.5em;
	height: 50px;
	width: 100%;
}

.button-div {
	width: 50%;
	margin: 0 auto;
}

#button-aboutme {
	width: 100%;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.work {
	width: 49.7%;
	display: inline-table;
	text-align: center;

}

.hidden {
	display:none;
	background: #DEFAF5;
	padding: 2px 20px 20px;
} 

.info-image {
	height: 30px;
	width: 30px;
	opacity: 0.5;
	margin-left: 20px;
}

.info-image:hover {
	opacity: 1;
}

.info-title {
	display: inline-block;
	font-size: 1.3em;
}

.info-public {
	display: inline-block;
}

.boxtext-cv {
	margin-bottom: 70px; 
}

.text-textarea {
	font-size: 1em;
	line-height: 1.5em;
	height: 50px;
	width: 88%;
	margin-top: -10px;
	margin-bottom: -15px;
}

.text-textarea:focus {

}


.button-cv {
    width: 88%;
    cursor: pointer;
    font-size: 1em;
    margin-top: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.delete-cv {
	background-color: #F00;
}


/*******************************************************************************
PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO
*******************************************************************************/

.no_editable {
	text-align: center;
	font-size: 3em;
}

.no_editable_section {
	background-color: gray;
}

/*******************************************************************************
KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT   
*******************************************************************************/


/*******************************************************************************
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER      
*******************************************************************************/
footer {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	clear: both;
	background-color: #000;  
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;

}

footer p {
	margin: 10px 0;
	font-family: "Sue Ellen Francisco", cursive;
}


/*************** Social icon ***************/

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li{
  display: inline;
  padding: 0 5px;
}


/*******************************************************************************
MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY      
*******************************************************************************/

@media only screen and (max-width : 850px) {



/********************************
HEADER/NAV
*********************************/

	#logo {
		float: right;
		margin-right: 40px;
		margin-left: 0;
	}

	#menu-icon {
		display:inline-block;
	}

	nav {
		margin: auto;
		padding: 20px 0 20px 20px;
		float: left;
	}

	nav ul, nav:active ul { /*The :active selector is used to select and style the active link.*/
		display: none; 
		position: absolute;
		padding: 20px;
		background: #000;
		left: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
		font-size: 1.1em;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 20px 0;
		margin: 0;
		border-right: 0px;
	}

	nav:hover ul {
		display: block; 
	}


/********************************
HEM
*********************************/




/********************************
OM MIG
*********************************/

.work {
	width: 100%;
	display: block;
	text-align: left;
}

.text-textarea {
	width: 100%;
}

/********************************
PORTFOLIO
*********************************/


/********************************
KONTAKT
*********************************/


} /************* MAX-WIDTH 820PX: SLUT *******************/


@media only screen and (max-width : 400px) {

	#logo {
		width: 200px;
		height: 60px;
	}

} /************* MAX-WIDTH 400PX: SLUT *******************/


