section {
	text-align: center;
}

h2 {
	font-size:18px;	
}

.display_input {
	cursor: no-drop; 
	width: 200px; 
	font-size: 18px;
}

.letters_input {
	cursor: pointer; 
	margin-left: 10px; 
	font-size: 18px
}
