/*******************************************************************************
GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL  
*******************************************************************************/

html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex; 
	flex-direction: column;
}

.content {
	flex: 1; /*on the child you want to grow to fill the space (the content, in our case).*/
}

section.main-section {
	margin: 80px auto 20px;
	max-width: 1080px;
	position: relative;
	padding: 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #778899;
}

.current {
	color: #778899;
}


p {
	line-height: 1.8em;
	margin-bottom: 20px; /*0*/
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
}



/*******************************************************************************
HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV HEADER/NAV  
*******************************************************************************/

header {
	background: #000;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	z-index: 100;
	font-family: 'Krona One', 'Leckerli One', cursive;
}

#logo {
	margin: 10px 0 10px 40px;
	float: left;
	width: 250px;
	height: 60px;
	display: block;
}

nav {
	float: right;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background: #000 url(../img/menu-icon.png) center;
}


a:hover#menu-icon {
	background-color: #778899;
	border-radius: 4px 4px 0 0;
}

ul {	
	list-style: none;
	font-size: 1.1em;
	padding: 0; /* skriva över user agent stylesheet, har en padding-left på 40px*/
	margin-right: 20px;	
}

li {
	display: inline-block;
	padding: 28px 20px;
}



/*******************************************************************************
HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM HEM   
*******************************************************************************/

#main-title {
	text-align: center;
	font-size: 1.8em;
	margin: 0 0 5px;
}

#second-title {
	text-align: center;
	font-size: 1.4em;
	margin: 0 0 20px;
	font-weight: normal;
	padding-bottom: 4px;
	border-bottom: 1px solid #000;
}

#mountain {
	width: 100%;
	margin-bottom: 20px;
}

#profile-photo {
	border-radius: 100px 0 100px 0;
	height: 280px;
	width: 280px;
	display: block;
	margin: 20px auto 20px;
	border: 2px solid #000;
}

#main-countdown {
	margin-top: 60px;
}

.numbers {
	padding: 0px;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;   /* normal, bold, bolder, lighter */
    font-style: italic;  /* normal eller italic */
    color: #FFFFFF;    
    background: #000;
}

.title-countdown {
    padding-right: 5px;
    padding-top: 5px; /* 10px när min och sec är med*/
    font-family: Arial;
    font-size: 14px; /* 8px när min och sec är med */
    font-weight: bold;    
    font-style: italic;  
    color: #FFFFFF;       
    background: #000;  
}

#countdown {
    display: block;
    width: 280px;
    height: 40px;
    border: 2px ridge #666666;
    background-color: #000; 
    margin: 0px auto;
    position: relative;    /* Relative för att ha timern centrerad på sidan*/
    color: #fff;
}

#graduated, #on-lia {
	font-size: 22px;
	font-family: Arial;
    font-weight: bold;    
    font-style: italic; 
    color: #FFFFFF; 
}

.title-lia-graduation {
	color: #000;
	text-align: center;
	font-size: 1.5em;
	margin: 0;
}



/*******************************************************************************
OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG OM MIG   
*******************************************************************************/


.about-title {
	text-align: center;
	font-size: 1.8em;
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
}

#skyline {
	width: 100%;
	margin-bottom: 20px;
}

.work {
	width: 49.7%;
	display: inline-table;
	text-align: center;

}

.hidden {
	display:none;
	background: #DEFAF5;
	padding: 2px 20px 20px;
}

.info-image {
	height: 30px;
	width: 30px;
	opacity: 0.5;
	margin-left: 20px;
}

.info-image:hover {
	opacity: 1;
}

.info-title {
	display: inline-block;
	font-size: 1.3em;
}

.info-public {
	display: inline-block;
}

.tap-hidden {
	display: inline-block;
}

.tap-hidden>img {
	display: none;
}


/*******************************************************************************
KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT KONTAKT   
*******************************************************************************/

#contact-title {
	text-align: center;
	font-size: 1.8em;
}

.contact a{
	color: #000;
}

.contact-div a {
	color: #000;
}

.contact-div {
	margin-top: 60px;
	width: 33%;
	display: inline-table;
	text-align: center;
}

.contact-image {
	margin: auto;  
	opacity: 0.5;      /* #34A391*/ 
}

a .contact-image:hover {
	opacity: 1.0;
	-webkit-transition: all 1s ease; /* Safari and Chrome säkerställa */ 
	-moz-transition: all 1s ease; /* Firefox säkerställa */
	-o-transition: all 1s ease; /* Opera säkerställa */
	transition: all 1s ease;
}



/*******************************************************************************
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER      
*******************************************************************************/
footer {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	clear: both;
	background-color: #000;  
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;

}

footer p {
	margin: 10px 0;
	font-family: "Sue Ellen Francisco", cursive;
}


/*************** Social icon ***************/

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li{
  display: inline;
  padding: 0 5px;
}


/*******************************************************************************
MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY      
*******************************************************************************/

@media only screen and (max-width : 820px) {



/********************************
HEADER/NAV
*********************************/

	#logo {
		float: right;
		margin-right: 40px;
		margin-left: 0;
	}

	#menu-icon {
		display:inline-block;
	}

	nav {
		margin: auto;
		padding: 20px 0 20px 20px;
		float: left;
	}

	nav ul, nav:active ul { /*The :active selector is used to select and style the active link.*/
		display: none; 
		position: absolute;
		padding: 20px;
		background: #000;
		left: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 20px 0;
		margin: 0;
		border-right: 0px;
	}

	nav:hover ul {
		display: block; 
	}


/********************************
HEM
*********************************/




/********************************
OM MIG
*********************************/

	.work {
		width: 100%;
		display: block;
		text-align: left;
	}

	/*.info-public>img {
		display: none;
	}

	.tap-hidden>img {
		display: inline-block;
		margin: 0;
	}*!


/********************************
KONTAKT
*********************************/

	.contact-div {
		width: 100%;
		display: block;
	}


} /************* MAX-WIDTH 820PX: SLUT *******************/


@media only screen and (max-width : 400px) {

	#logo {
		width: 200px;
		height: 60px;
	}

} /************* MAX-WIDTH 400PX: SLUT *******************/











